.footer {
    background-color: var(--menu-color);
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.contact-me { 
    padding: 10px;
}
.contact__text {
    font-size: 16px;
    text-decoration: none;
}
@media screen and (max-width: 915px) {
    .footer {
        display: none;
    }
}