.main {
  grid-column: 3/-1;
}
.home {
  height: 100vh;
  margin-left: 30px
}
.general {
  grid-column: 1/8;
  margin: auto;
}
.general__greet {
  grid-column: 1/-1;
  font-size: 30px;
}
.general__career {
  font-size: 22px;
}
.general__description {
  font-size: 20px;
}
.picture {
  grid-column: 8/-1;
  margin: auto;
}
.picture__profile {
  border-radius: 50%;
  width: 20vw;
  min-width: 150px;
}
.wrapper {
  height: 10vh;
  display: flex;
  align-items: center;
}
.typing-demo {
  width: 23ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 40px;
}
.links {
  grid-column: 1/-1;
  text-align: center;
  margin-top: auto;
  margin-bottom: 10px;
}
.link__ico {
  height: 70px;
  width: 70px;
}
@keyframes typing {
  from {
    width: 0
  }
}      
@keyframes blink {
  50% {
    border-color: transparent
  }
}
