.main {
  grid-column: 3/-1;
}
.home {
  height: 100vh;
  margin-left: 30px
}
.general {
  grid-column: 1/8;
  margin: auto;
}
.general__greet {
  grid-column: 1/-1;
  font-size: 30px;
}
.general__career {
  font-size: 22px;
}
.general__description {
  font-size: 20px;
}
.picture {
  grid-column: 8/-1;
  margin: auto;
}
.picture__profile {
  border-radius: 50%;
  width: 20vw;
  min-width: 150px;
}
.wrapper {
  height: 10vh;
  display: flex;
  align-items: center;
}
.typing-demo {
  width: 23ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 40px;
}
.links {
  grid-column: 1/-1;
  text-align: center;
  margin-top: auto;
  margin-bottom: 10px;
}
.link__ico {
  height: 70px;
  width: 70px;
}
@keyframes typing {
  from {
    width: 0
  }
}      
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@media screen and (max-width: 1070px) {
  .picture {
    grid-column: 1/-1;
    grid-row: 1;
    margin-top: 15px;
  }
  .picture__profile {
    width: 15vw;
  }
  .general {
    grid-column: 1/-1;
    grid-row: 2;
  }
  .home {
    height: auto;
  }
  .general__career {
    margin-top: 35px;
  }
}
@media screen and (max-width: 915px) {
  .main {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 615px) {
  .general__greet {
    font-size: 23px;
  }
  .typing-demo {
    font-size: 32px;
  }
  .general__career, .general__description {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .general__greet {
    font-size: 20px;
  }
  .typing-demo {
    font-size: 30px;
  }
  .general__career, .general__description {
    font-size: 15px;
  }
}
