.projects {
    height: 100vh;
}
.projects__text{
    margin: 30px;
}
.text__title {
    height: 10vh;
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 0px;
}
.text__general {
    font-size: 20px;
}
.projects__apps {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px
}
.apps__ind {
    border: 1px solid var(--black);
    border-radius: 10px;
    background-color: var(--menu-color);
    padding: 20px;
    flex: 1;
    height: 250px;
    text-align: center;
}
.ind-title {
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 22px;
}
.ind-description {
    text-align: justify;
    font-size: 18px;
}
.app__image {
    width: 100%;
    height: 45%;
}
.ind-image {
    margin: auto;
    height: 100%;
    width: 100%;
}
.fa-git-alt {
    display: block;
    font-size: 25px;
    padding: 5px;
}
@media screen and (max-width: 615px) {
    .text__title {
        font-size: 32px;
    }
    .text__general, .ind-title {
        font-size: 18px;
    }
    .ind-description {
        font-size: 16px;
    }
}
