.about {
    padding: 0 10rem;
    background: linear-gradient(175deg, $background-black 67%, $background-blue 67%);
    display: flex;
    
    &__images {

        &--1 {
            max-height: 60vh;
        }
    }

    &__text {
        padding: 10rem;
    }
}