.achievements {
    background-color: $background-black;
    padding: 6.5rem 5rem 6.5rem 9.5rem;

    & > .subtitle {
        text-align: center;
        padding-bottom: 3rem;
    }

    &__card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }
}
 
.card {
    padding: 2rem;
    position: relative;

    &__content {
        padding: 2rem;
        background-color: $background-white;
        color: $black-text;
        border-radius: 10px;

        &__text {
            padding-bottom: 2rem;

            & .text-big > a {
                color: $black-text;
            }
            & .text-medium {
                color: $grey-text;
                padding-bottom: 2rem;
            }
        }

        &--logo {
            position: absolute;
            right: 5rem;
            height: 4rem;
        }
    }

    &__image {
        text-align: center;

        &--img {
            width: 30%;
            min-width: 130px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .achievements {
        padding: 4rem;
    }

    .card {
        &__content {
            text-align: center;

            &__text .text {
                text-align: left;
            }

            &--logo { 
                right: 0;
                position: relative;
                margin-bottom: 1rem;
            }
        }
    }
}
