.contact {
    background-color: $background-black;
    padding: 4rem 0 2rem 4.5rem;

    &__social {
        text-align: center;

        &--icon {
            fill: $white-text;
            margin: 3px;
            width: 4rem;

            &:hover {
                fill: $blue-text;
            }
        }
    }

    &__container {
        margin: 5rem 25rem;

        &--info {
            line-height: 3rem;
        }
        &--menu {
            & > a {
                display: table;
                padding-bottom: 1rem;
                transition: all .8s;

                &:hover {
                    border-bottom: .3rem solid $background-blue;
                    padding-bottom: .7rem;
                }
            }
        }
    }

    &__copyright {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .contact {
        padding: 4rem;

        &__container {
            margin: 4rem 20%;
        }
    }
}

@media screen and (max-width: 800px) {
    .contact__container {
        margin: 4rem 6rem;
    }
}

@media screen and (max-width: 600px) {
    .contact__container{
        text-align: center;

        &--info {
            margin-right: 2rem;
            width: 100%;
        }

        &--menu {
            border-top: 1px solid $white-text;
            margin-top: 4rem;
            padding-top: 3rem;
            width: 100%;
            
            & a {
                text-align: center;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .contact {
        padding: 1rem;
        
        &__container {
            margin: 3rem auto;
            padding: 1rem;
        }

        &__copyright {
            padding: 1rem;
        }
    }
}
