.experience {
    background-color: $background-blue;
    padding: 6.5rem 5rem 6.5rem 9.5rem;
    
    &__list {
        min-width: 30vw;
        max-width: 40vw;
    }
    & .subtitle, & .text-big {
        text-align: center;
        padding: 2rem;
        line-height: 3rem;
    }
}
.item {
    display: grid;
    grid-template-columns: 8rem auto;
    grid-gap: 1.3rem;

    &--image {
        text-align: center;
        margin-top: 2rem;

        & img {
            height: 6rem;
            width: 6rem;
            border-radius: 50%;
        }
    }

    &--content {
        padding-bottom: 3.5rem;

        &-link {
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 1000px) {
    .experience {
        padding: 4rem;

        &__list {
            min-width: 43vw;
        }
    }
}

@media screen and (max-width: 875px) {
    .experience__list {
        min-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .experience {
        padding: 2rem;
    }
}

@media screen and (max-width: 350px) {
    .experience {
        padding: 1rem;
    }
}
