* {
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    color: $white-text;
} 
a {
    color: $white-text;
    text-decoration: none;
}

// General styles

// Text-styles
.title {
    font-size: 5rem;
}
.subtitle {
    font-size: 3rem;
}
.text {
    font-size: 1.7rem;
}
.text-big {
    font-size: 2.3rem;
}
.text-medium {
    font-size: 2rem;
}
.underline {
    text-decoration: underline;
}

// Color styles
.bg-orange {
    background-color: $html-color;
}
.bg-pink {
    background-color: $scss-color;
}
.bg-blue {
    background-color: $ts-color;
}
.bg-red {
    background-color: $angular-color;
}
.bg-yellow {
    background-color: $firebase-color;
    color: $black-text;
}
.bg-green {
    background-color: $nodejs-color;
    color: $black-text;
}

// Other
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bullet {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: all .5s;

    &:hover {
        scale: 115%;
    }
}
*::selection {
    background: $selected-text;
    color: $black-text;
}
/* Firefox */
*::-moz-selection {
    background: $selected-text;
    color: $black-text;
}

