* {
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
} 

// General styles
.title {
    font-size: 5rem;
}
.subtitle {
    font-size: 3rem;
}
.text {
    font-size: 1.7rem;
}