* {
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    color: $white-text;
} 
a {
    color: $white-text;
    text-decoration: none;
}

// General styles
.title {
    font-size: 5rem;
}
.subtitle {
    font-size: 3rem;
}
.text {
    font-size: 1.7rem;
}
.text-big {
    font-size: 2.3rem;
}
.text-medium {
    font-size: 2rem;
}
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

// Mixins
@mixin triangle($left) {
    content: " ";
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid $background-black;
    position: absolute;
    bottom: 100%;
    left: $left;
}
