.main {
    max-height: calc(100vh - 5rem);
} 

.home {
    padding: 2rem 5rem 2rem 9.5rem;
    min-height: 50vh;
    background: linear-gradient(176deg, $background-blue 67%, $background-black 67%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 8;

    &__image {
        width: 22rem;
        margin: 3rem;

        &--pic {
            width: 100%;
        }
    }

}
.about {
    height: 40vh;
    padding: 0 5rem 2rem 9.5rem;
    background: linear-gradient(176deg, $background-black 67%, $background-blue 67%);
    display: flex;
    
    &__images {

        &--1 {
            margin: 0 3rem;
            max-height: 40vh;
        }
    }

    &__text {
        padding: 5rem 12rem 5rem 7rem;
    }
}