.main {
    max-height: calc(100vh - 5rem);
    
} 

.home {
    padding: 2rem 5rem 2rem 9.5rem;
    min-height: 50vh;
    background: linear-gradient(176deg, $background-blue 67%, $background-black 67%);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__image {
        width: 22rem;
        margin: 3rem;

        &--pic {
            width: 100%;
        }
    }

}
.about {
    height: 40vh;
    padding: 0 5rem 2rem 9.5rem;
    background: linear-gradient(176deg, $background-black 67%, $background-blue 67%);
    display: flex;
    
    &__images {

        &--1 {
            margin: 0 3rem;
            height: 40vh;
            max-height: 35rem;
        }
    }

    &__text {
        padding: 5rem 12rem 5rem 7rem;
    }
}


@media screen and (max-width: 1000px) {
    .main {
        max-height: 100%;
        padding-top: 5rem;
    }

    .home {
        padding: 4rem 8rem;
        background: $background-blue;
    }    

    .about {
        padding: 4rem 8rem;
        height: auto;
        background: $background-black;
        overflow: hidden;

        &__images {

            &--1 {
                margin: 0;
                max-height: 100%;
            }
        }

        &__text {
            padding: 2rem 2rem 2rem 6rem;
        }
    }
}


@media screen and (max-width: 800px) {
    .home__image--pic {
        width: 15rem;
    }

    .about {
        padding: 4rem;

        &__images--1 {
            margin: 1rem auto;
        }

        &__text {
            padding: 2rem 3rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .home {
        padding: 2rem;
    }

    .about {
        padding: 2rem;

        &__images--1 {
            display: none;
        }

        &__text {
            padding: 0;
        }
    }
}
