.header {
    background-color: $background-black;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    position: sticky;
    top: 0;
     
    &__link {
        color: $white-text;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 3rem;
        transition: all .3s;

        &:hover {
            border-bottom: .5rem solid $background-blue;
            padding-bottom: .5rem;
            font-size: 1.8rem;
        }
    }
}