.project {
    background-color: $background-blue;
    padding: 8rem 0 5rem;
    
    & .subtitle {
        text-align: center;
        padding-bottom: 4rem;
    }

    & .text-big {
        border-right: 1px solid $black-text;
        text-align: center;
        padding: .7rem;
        writing-mode: sideways-lr;
    }

    &--flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__card {
        background-color: $background-white;
        color: $black-text;
        width: 20%;
        min-width: 28rem;
        border-radius: 5px;
        margin: 1rem;
        
        &__img {
            height: 24rem;
            display: flex;
            align-items: center;

            & img {
                width: 100%;
            }
        }
        
        &__description {
            padding: 1rem;

            &--list {
                list-style: none;
            }
        }
    }

}
