@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif; }

.header {
  background-color: #000;
  display: flex;
  justify-content: center;
  font-size: 1.6rem; }
  .header__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    transition: all .3s; }
    .header__link:hover {
      border-bottom: 0.5rem solid #0858ad;
      padding-bottom: .5rem;
      font-size: 1.8rem; }

.sidebar {
  background-color: #000;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  min-width: 4.5rem; }
  .sidebar__icon {
    fill: #fff;
    margin: 1rem 0rem;
    width: 3rem;
    transition: all .3s; }
    .sidebar__icon:hover {
      width: 4rem; }
