@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif; }

.title {
  font-size: 5rem; }

.subtitle {
  font-size: 3rem; }

.text {
  font-size: 1.7rem; }

.header {
  background-color: #000;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  position: sticky;
  top: 0;
  z-index: 10; }
  .header__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    transition: all .3s; }
    .header__link:hover {
      border-bottom: 0.5rem solid #0858ad;
      padding-bottom: .5rem;
      font-size: 1.8rem; }

.sidebar {
  background-color: #000;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  min-width: 4.5rem;
  z-index: 9; }
  .sidebar__icon {
    fill: #fff;
    margin: 1rem 0rem;
    width: 3rem;
    transition: all .3s; }
    .sidebar__icon:hover {
      width: 4rem; }

.home {
  min-height: 70vh;
  background: #000;
  background: linear-gradient(175deg, #0858ad 67%, #000 67%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 8;
  padding: 5rem 10rem; }
  .home__text {
    color: #fff; }
  .home__pic {
    width: 30rem; }

.about {
  padding: 0 10rem;
  background-color: #000;
  background: linear-gradient(175deg, #000 67%, #0858ad 67%);
  display: flex; }
  .about__images--1 {
    max-height: 60vh; }
  .about__text {
    padding: 10rem;
    color: #fff; }
