// Background colors
$background-black: #000;
$background-blue: #0858ad;
$background-dark-blue: #0b417c;
$background-white: #fff;

// Text colors
$black-text: #000;
$white-text: #fff;
$grey-text: #808080;
