// Background colors
$background-black: #000;
$background-black-transparent: #000000da;
$background-blue: #002b59;
$background-white: #fff;

// Text colors
$black-text: #000;
$white-text: #fff;
$grey-text: #808080;
$blue-text: #0858ad;

// Icon colors 
$html-color: #e44d26;
$scss-color: #cd6799;
$ts-color: #007acc;
$angular-color: #c3002f;
$firebase-color: #fcca3f;
$nodejs-color: #8cc84b;

// Other
$selected-text: #75b0c3;